.torre_bio {
	text-align: center;
	padding-top: 1em;
}

form > button {
	margin-left: 1em;
}

.torre_bio img {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.torre_bio > span {
	display: block;
}

.torrelink {
	color: rgba(0,123,255,.5);
	font-size: 2em;
	margin-top: 0.5em;
}

body .row {
	margin: 1em;
}

.person_name {
	font-weight: bold;
	font-size: x-large;
	color: rgb(0, 123, 255);
}
