{% extends 'base.html' %}

{% block title %}
	My LinkedTorre profile
{% endblock %}

{% block script %}
	<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block content %}
<div class='row'>
	<div class='col'>
		<form id="torreform" class='form-inline'>
			<input class='form-control' id="personid" type="text" placeholder="Torre Bio ID">
			<button type='submit' class="btn btn-primary" id="get_torre_bio">Get my Torre Bio!</button>
		</form>
		<div class="torre_bio"></div>
	</div>
	<div class='col'>
		<form id="linkedinform" class='form-inline'>
			<input class='form-control' id="linkedinid" type="text" placeholder="LinkedIn ID">
			<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#linkedin_modal">
				LinkedIn
			</button>
		</form>
		<div class="linkedin_profile">
		{% if linkedin_profile %}
			<span>{{ linkedin_profile['firstName'] }}</span>
		{% endif %}
		</div>
	</div>
</div>

{% endblock %}
